<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/estilosAdmin.css}">
    <title>Lista de Administradores</title>
</head>
<body>
<h1>Lista de Administradores</h1>
<a th:href="@{/administradores/new}">Crear Nuevo Administrador</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="administrador : ${administradores}">
        <td th:text="${administrador.id}"></td>
        <td th:text="${administrador.nombre}"></td>
        <td th:text="${administrador.apellido}"></td>
        <td th:text="${administrador.email}"></td>
        <td>
            <a th:href="@{/administradores/edit/{id}(id=${admin.id})}">Editar</a>
            <a th:href="@{/administradores/delete/{id}(id=${administrador.id})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>