<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/styles.css}">
        <title>Inicio de sesion exitoso</title>
    </head>

    <body>
        <di>
            <section class="layout">
                <div class="grow1"><h2>Bienvenido al dashboard</h2></div>
                <div class="grow1"><p>Has iniciado sesión correctamente.</p></div>
                <div class="grow1"> <a href="/logout">Cerrar Sesión</a> <!-- Opcional: Para implementar logout --></div>
            </section>
        </di>




    </body>
</html>