<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importar hoja de estilos dentro de carpeta Software-->
    <link rel="stylesheet" href="/src/main/resources/static/styles.css">

    <title>Pagina de logeo</title>


</head>

<!-- Recuadros de inputs y buttons-->
<body>
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <input type="email" placeholder="Correo electrónico" required>
    <input type="password" placeholder="Contraseña" required>
    <button class="login-btn">Ingresar</button>
    <button class="forgot-btn">Olvidé mi contraseña</button>
</div>
</body>
</html>